<div layout-fill ng-controller="SystemCtrl" class="content-backdrop" ng-cloak ng-init="init('container')">
    <div cg-busy="{promise:loadingLayer,minDuration:500}" layout="column" layout-fill>
        <md-toolbar class="content-toolbar">
            <div class="md-toolbar-tools">
                <div>{{pageParam.title}}</div>
                <md-button class="md-primary" ng-click="add(pageParam.type)" has-permission="SYSTEM:READ+CREATE">
                    <md-icon>add_circle_outline</md-icon>
                    {{'i18n_process_btn_create' | translator}}
                </md-button>
                <md-button class="md-primary" ng-click="import(pageParam.type)" has-permission="SYSTEM:READ+CREATE">
                    <md-icon>unarchive </md-icon>
                    {{'i18n_system_import' | translator}}
                </md-button>
                <md-button class="md-primary" ng-click="delete()" has-permissions="SYSTEM:READ+DELETE">
                    <md-icon>delete</md-icon>
                    {{'i18n_process_btn_delete' | translator}}
                </md-button>
                <md-button class="md-primary" ng-click="grants()" has-permissions="SYSTEM:READ+UPDATE" ng-if="pageParam.type !== 'APPLICATION'">
                    <md-icon>beenhere</md-icon>
                    {{'i18n_system_authorize' | translator}}
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex>
            <div class="md-padding" layout="column" flex="100">
                <filter-tools conditions="conditions" results="filters" search="'true'" execute="list()">
                    <select-columns columns="columns" storage="false"></select-columns>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="list()">
                            <md-tooltip md-delay="300">{{'i18n_refresh' | translator}}</md-tooltip>
                            <md-icon>refresh</md-icon>
                        </md-button>
                    </div>
                    <div class="filter-item">
                        <md-button class="md-icon-button md-whiteframe-1dp" ng-click="export(pageParam.type)">
                            <md-tooltip md-delay="300">{{'i18n_export_excel' | translator:'导出Excel'}}
                            </md-tooltip>
                            <md-icon>cloud_download</md-icon>
                        </md-button>
                    </div>
                </filter-tools>
                <div flex layout="column" layout-fill>
                    <table dynamic-table columns="columns" execute="list({sql: sql})">
                        <tbody>
                        <tr ng-repeat="item in items">
                            <td has-permissions="CLOUD_ACCOUNT:READ+BATCH_SYNC,CLOUD_ACCOUNT:READ+BATCH_DELETE">
                                <md-checkbox md-no-ink aria-label="{'i18n_label_enable' | translator}}" ng-model="item.enable"
                                             class="md-primary"></md-checkbox>
                            </td>
                            <td>{{item.name}}</td>
                            <td ng-if="pageParam.type==='CUSTOM_SYSTEM'">{{item.code}}</td>
                            <td>{{item.alias}}</td>
                            <td ng-if="pageParam.type==='APPLICATION'">
                                <div class="auto-ellipsis" style="max-width: 200px;">{{item.systemNames}}</div>
                                <md-tooltip md-delay="30" class="f2c-tooltip-user tooltip-300"  ng-if="item.systemNames && item.systemNames != ''">{{item.systemNames}}</md-tooltip>
                            </td>
                            <td>{{item.createdTime | date:'yyyy-MM-dd HH:mm'}}</td>
                            <td ng-if="pageParam.type === 'CUSTOM_SYSTEM'">{{item.ownerName}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <table-menus>
                                    <md-menu-item has-permission="SYSTEM:READ+UPDATE">
                                        <md-button ng-click="edit(item)">
                                            <md-icon class="md-18">edit</md-icon>
                                            {{'i18n_process_btn_edit' | translator}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item has-permission="SYSTEM:READ+UPDATE" ng-if="pageParam.type !== 'APPLICATION'">
                                        <md-button ng-click="grant(item)">
                                            <md-icon class="md-18">beenhere</md-icon>
                                           {{'i18n_system_authorize' | translator}}
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item has-permission="SYSTEM:READ+DELETE">
                                        <md-button ng-click="delete(item)">
                                            <md-icon class="md-18">delete</md-icon>
                                            {{'i18n_process_btn_delete' | translator}}
                                        </md-button>
                                    </md-menu-item>
                                </table-menus>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table-pagination pagination="pagination"></table-pagination>
                </div>
            </div>
        </div>
    </div>

    <side-form></side-form>
    <auth-workspace resource-type="APPLICATIONSYSTEM"  auth-tree-type="checkbox"/>
</div>

